.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s linear, opacity 0.4s ease-in-out;
  align-items: center;
  justify-content: center;
  z-index: 9;
}
.popup_opened {
  display: flex;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.4s ease-in-out;
}
.popup__container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  width: 430px;
  min-height: 182px;
  position: absolute;
  transition: ease 0.5s;
  align-items: center;
}
.popup__close-button {
  background-image: url(../../images/close_button.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  outline: none;
  transition: linear 0.3s all;
  width: 40px;
  height: 40px;
  background-color: transparent;
  position: absolute;
  top: -40px;
  right: -40px;
  padding: 0;
}

.popup__close-button:hover {
  opacity: 0.5;
  transition: ease 0.5s all;
}

.popup__title {
  font-family: "Roboto Black";
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-align: left;
  width: 83%;
  margin-top: 34px;
  margin-bottom: 21px;
}
.popup__subtitle {
  font-family: "Inter";
  font-size: 12px;
  line-height: 15px;
  text-align: left;
  color: rgb(47, 113, 229);
  width: 83%;
  margin: 0 auto 9px auto;
}
.popup__input {
  font-family: "Inter";
  font-size: 14px;
  line-height: 17px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  height: 28px;
  outline: none;
  width: 83%;
  margin-bottom: 31px;
}

.popup__input::placeholder {
  font-family: "Roboto Regular";
  font-size: 16px;
  line-height: 22px;
  color: #b6bcbf;
}

.popup__error-text {
}
.popup__submit-button {
  font-family: "Roboto Regular";
  font-size: 18px;
  line-height: 24px;
  border: none;
  color: white;
  background-color: rgb(47, 113, 229);
  border-radius: 100px;
  height: 64px;
  width: 83%;
  outline: none;
  transition: ease 0.5s all;
}

.popup__submit-button:hover {
  cursor: pointer;
  background: rgb(52, 126, 255, 1);
  transition: ease 0.5s all;
}

.popup__submit-button:active {
  cursor: pointer;
  background: rgb(42, 101, 204, 1);
  transition: ease 0.5s all;
}

.popup__login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 17px;
  margin-top: 16px;
  margin-bottom: 28px;
}

.popup__login-text {
  font-family: "Inter Regular";
  font-size: 14px;
  line-height: 17px;
  color: black;
  margin-right: 5px;
}

.popup__link {
  font-family: "Inter Regular";
  font-size: 14px;
  line-height: 17px;
  border: none;
  text-align: left;
  text-decoration: none;
  margin: 0;
  color: rgb(42, 101, 204, 1);
  transition: ease 0.5s all;
  width: 83%;
}

.popup__link:hover {
  opacity: 0.5;
  transition: ease 0.5s all;
}
