.search {
  font-family: "Roboto Regular";
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search__title {
  margin-top: 80px;
  margin-bottom: 0;
  text-align: left;
  font-family: "Robotoslab";
  color: white;
  max-width: 608px;
  font-weight: normal;
  font-size: 60px;
  line-height: 64px;
}

.search__subtitle {
  margin-top: 32px;
  margin-bottom: 0;
  padding-right: 63px;
  text-align: left;
  color: white;
  max-width: 545px;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.search__form {
  margin-top: 64px;
  height: 64px;
  position: relative;
  margin-bottom: 80px;
}

.search__input {
  font-size: 16px;
  line-height: 22px;
  width: 570px;
  height: 62px;
  outline: none;
  border: none;
  border-radius: 100px;
  padding-left: 38px;
}

/* .search__input::placeholder {
    padding-left: 24px;
  } */

.search__button {
  cursor: pointer;
  color: white;
  width: 168px;
  height: 64px;
  border-radius: 100px;
  background-color: #2f71e5;
  outline: none;
  border: none;
  position: absolute;
  right: 0px;
  transition: ease-in 0.3s all;
}

.search__button:hover {
  transition: linear 0.3s all;
  transform: scale(1.02);
  color: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 768px) {
  .search__title {
    font-size: 36px;
    line-height: 40px;
    width: 400px;
    padding-right: 92px;
    text-align: left;
  }

  .search__subtitle {
    max-width: 452px;
    padding-right: 45px;
  }

  .search__input {
    width: 448px;
    height: 56px;
  }

  .search__button {
    width: 160px;
    height: 59px;
  }
}
